USE [bookwebsite]
GO
/****** Object:  Table [dbo].[books_table]    Script Date: 7/11/2024 4:16:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books_table](
	[book_id] [nchar](10) NOT NULL,
	[book_name] [nvarchar](50) NOT NULL,
	[book_image] [nvarchar](max) NOT NULL,
	[book_author] [nvarchar](50) NOT NULL,
	[book_price] [float] NOT NULL,
	[book_description] [ntext] NOT NULL,
	[category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_books_table] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
